{% extends "base.html" %}

{% block content %}



<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title" style="text-align:center;">Product Info</h2>
                
                <h5 style="text-align:center;color: crimson;">Warning!!</h5>

                <p style="text-align:center;color: crimson"><b>Do not add "$" as a prefix of the price. Just add the price as a float or integer number</b></p>
                
                <form method="POST" style="padding-top: 80px;">

                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Product Title" name="title">
                    </div>
                    

                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Price" name="price">
                    </div>



                    


                            <div class="p-t-20" style="text-align:center;">
                                
                                <button class= "btn btn--radius btn--green" style="background-color: crimson;color: aliceblue;" type="submit">Add Product</button>

                            </div>

                        </div>

                    </div>

                </form>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}