{% extends "base.html" %}

{% block content %}



<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Admin Dashboard</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--================Category Product Area =================-->
<section class="cat_product_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Browse Categories</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li>
                                    <a href="user_list">User List</a>
                                    
                                </li>
                                <li>
                                    <a href="add_product">Add Product</a>
                                    
                                </li>
                                <li>
                                    <a href="product_list">Product List</a>
                                    
                                </li>

                                <li>
                                    <a href="contact_messages">Contact Messages</a>
                                    
                                </li>

                            </ul>
                        </div>
                    </aside>






                </div>
            </div>


    {% endblock %}