{% extends "base.html" %}

{% block content %}



<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Registration Info</h2>
                <form method="POST">

                    <div class="input-group">
                        <input class="input--style-1" type="email" placeholder="Enter Email" name="email">
                    </div>
                    

                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Enter First Name" name="first_name">
                    </div>

                    <!-- <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Enter Last Name" name="last_name">
                    </div> -->

                    <div class="input-group">
                        <input class="input--style-1" type="password" placeholder="Password" name="password1">
                    </div>

                    <div class="input-group">
                        <input class="input--style-1" type="password" placeholder="Confirm Password" name="password2">
                    </div>


                    

                    <!-- <div class="col-1">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Enter First Name" name="first name">
                        </div> -->


                            <div class="p-t-20">
                                <button class="btn btn--radius btn--green" type="submit">Submit</button>
                            </div>
    


                        </div>




                    </div>




                </form>

                
            </div>
        </div>
    </div>
</div>

{% endblock %}